attrs==22.1.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==39.0.1
Cython==3.0.2
dl==0.1.0
docutils==0.18.1
Flask==2.2.2
flask_sqlalchemy==3.0.5
HTMLParser==0.0.2
ipython==8.10.0
ipywidgets==7.6.5
Jinja2==3.1.2
keyring==23.4.0
lockfile==0.12.2
mock==4.0.3
Pillow==10.0.0
protobuf==4.24.2
pyOpenSSL==23.2.0
railroad==0.5.0
Sphinx==5.0.2
tornado==6.1
trove_classifiers==2023.8.7
truststore==0.7.0
